// Variables
// -------------------------

// Brand colour
@brandColour:               #417dae;

// Base font family
@baseFontFamily:            'source_sans_proregular', sans-serif;

// Base font colour
@baseFontColour:            #222;

// Base font size
@baseFontSize:              14px;

// Link colour
@linkColour:                @baseFontColour;

// Link hover colour
@linkHoverColour:           @brandColour;

// Button colour
@btnColour:                 @brandColour;

// Base /images folder path
@baseImagesPath:            '../img/';

// Header background colour
@headerBgColour:            #222;

// Footer background colour
@footerBgColour:            #6a6a6a;
